.links {
  max-height: 30px;
  display: flex;
  gap: 6%;
  margin: -5px 1.5% 0 20%;
  z-index: 10;
}

.links__item {
  display: inline-block;
  position: relative;
  background-color: transparent;
  border-style: none;
  color: var(--logo-shadow-color);
  font-size: 2.8rem;
  font-family: 'Genos', sans-serif;
  letter-spacing: 1px;
}

.links__item::first-letter {
  color: var(--white);
}

.links__border {
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--left-logo-color);
  transition: width 0.4s;
}

.links__item:hover .links__border {
  width: 100%;
}

@media screen and (max-width: 988px) {
  .links {
    margin-left: 24%;
  }

  .links__item {
    font-size: 2.6rem;
  }
}

@media screen and (max-width: 882px) {
  .links {
    margin-left: 30%;
    gap: 10%;
  }

  .links__item {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 686px) {
  .links {
    justify-content: flex-start;
    margin-left: 0;
    margin-top: -30px;
    gap: 6%;
  }
  .links__item {
    letter-spacing: 0;
  }
}
