.bottom-bar {
  width: 100%;
  height: var(--bottom-bar-height);
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--bar-bg-color);
  border-top: solid 2px var(--right-logo-color);
}

/* Contact section */
.contact {
  margin-left: 5%;
  color: var(--logo-shadow-color);
  font-size: 2rem;
}

.contact__item {
  display: flex;
  align-items: center;
}

.contact__item i {
  width: 30px;
  color: #fff;
}

/* PFR info */
.pfr {
  width: 90%;
  height: 20%;
  display: flex;
  margin: 2% auto 1.2% auto;
  align-items: center;
}

.pfr__logo {
  width: 100px;
  height: 40px;
  margin-right: 20px;
}

.pfr__text {
  font-size: 1.7rem;
  color: var(--logo-shadow-color);
}

.pfr__text span {
  font-size: 2rem;
  color: #fff;
}
