.logo {
  width: 200px;
  height: 30px;
  position: relative;
}

.logo__left,
.logo__right {
  position: absolute;
  font-weight: 600;
  font-family: Arial, sans-serif;
  text-shadow: -1px 0 var(--logo-shadow-color), 0 1px var(--logo-shadow-color),
    1px 0 var(--logo-shadow-color), 0 -1px var(--logo-shadow-color);
}

.logo__left {
  letter-spacing: -1px;
  z-index: 10;
}

.logo__right {
  z-index: 8;
}

.logo__left--top-bar {
  font-size: 4rem;
  color: var(--left-logo-color);
  animation: 2s linear 1s 1 leftLogoColor;
}

.logo__right--top-bar {
  top: -6px;
  left: 162px;
  font-size: 5rem;
  color: var(--right-logo-color);
  animation: 3.5s linear 1s 1 rightLogoColor;
}

.logo__left--bottom-bar {
  font-size: 2.8rem;
  color: var(--bar-bg-color);
}

.logo__right--bottom-bar {
  top: -8px;
  left: 111px;
  font-size: 4rem;
  color: var(--bar-bg-color);
}

@keyframes leftLogoColor {
  from {
    color: var(--bar-bg-color);
  }
  to {
    color: var(--left-logo-color);
  }
}

@keyframes rightLogoColor {
  from {
    color: var(--bar-bg-color);
  }
  to {
    color: var(--right-logo-color);
  }
}
