@import 'variables.css';

.logo {
  position: relative;
}

.logo__left,
.logo__right {
  position: absolute;
  font-weight: 600;
  font-family: Arial, sans-serif;
  text-shadow: -1px 0 var(--logo-shadow-color), 0 1px var(--logo-shadow-color),
    1px 0 var(--logo-shadow-color), 0 -1px var(--logo-shadow-color);
}

.logo__left {
  font-size: 4rem;
  color: var(--left-logo-color);
  letter-spacing: -1px;
  animation: 2s linear 0s 1 leftLogoColor;
  z-index: 10;
}

.logo__right {
  top: -6px;
  left: 162px;
  font-size: 5rem;
  color: var(--right-logo-color);
  animation: 3.5s linear 0s 1 rightLogoColor;
}

@keyframes leftLogoColor {
  from {
    color: var(--header-background-color);
  }
  to {
    color: var(--left-logo-color);
  }
}

@keyframes rightLogoColor {
  from {
    color: var(--header-background-color);
  }
  to {
    color: var(--right-logo-color);
  }
}
