@import 'variables.css';
@import 'containers.css';
@import 'topBar/topBar.css';
@import 'topBar/logo.css';
@import 'bottomBar/bottomBar.css';
@import 'bottomBar/contactSection.css';
@import 'bottomBar/PFRinfo.css';
@import 'firstPage/busImage.css';
@import 'secondPage/busInteriorImage.css';
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Baloo Da 2', cursive, arial;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}
