@import 'variables.css';
@import 'topBar.css';
@import 'logo.css';
@import 'containers.css';
@import 'bottomBar.css';
@import 'busImage.css';
@import 'busInteriorImage.css';
@import 'pfr.css';
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Baloo Da 2', cursive;
  display: flex;
  justify-content: center;
}
