:root {
  /* logo */
  --left-logo-color: #e43131;
  --right-logo-color: #019ed5;
  --logo-shadow-color: #cfcfcf;
  /* background */
  --bar-bg-color: #302e2c;
  --second-page-bg-color: #6e6e6e;
  /* top bar */
  --top-bar-height: 20vh;
  /* bottom bar */
  --bottom-bar-height: 40vh;
}
