.bus-interior-image {
  width: 100vw;
  height: calc(100% - var(--bottom-bar-height));
  position: absolute;
  top: 0;
  background: url('../../assets/pexels-steve-aksnes-3723002.jpg') no-repeat
    center center;
  background-size: cover;
  opacity: 0.7;
}
